<div id="mess" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Thông báo phí sinh hoạt</h2>
        </div>
    </div>
    </br></br></br>
    <% bills.forEach(bill => { %>
        <% bill.flat.forEach(bi => { %> <% if(bi.status == false){ %>
            <% var date = parseInt(bi.last_date); var time = new Date(date); %>
            <% if(bi.type =="electric"){ %>
    <p> <strong>Tiền điện <%=time.toLocaleDateString()%> của căn hộ <%= bill.block %>-<%=bill.floorId%>-<%=bill.flatId %>  là <%=bi.total_cost.toLocaleString(); %> đồng </p></strong>
            <% }else{ %>
    <p><strong> Tiền nước <%=time.toLocaleDateString()%> của căn hộ <%= bill.block %>-<%=bill.floorId%>-<%=bill.flatId %> là <%=bi.total_cost.toLocaleString(); %> đồng </p></strong>
   
           <% } %> 
            <hr color="black">
           <% } %> <%})  }) %>
        
</div>