<div class="container con-form">
  <div class="d-flex justify-content-center h-100">
    <div class="card card-body shadow">
      <div class="head">
        <h1><i class="fas fa-user-shield"></i> Create Flat</h1>
      </div>
      <%- include("../partials/messages") %>
      <div class="form">
        <form action="/admin/flat-manage" method="POST">
          <hr />
          <h6 style="text-align: center;">Địa chỉ</h6>
          <div class="form-group">
            <label for="block">Khu</label>
            <select class="form-control" name="block" id="block">
              <option selected value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="floorId">Tầng</label>
              <select class="form-control" name="floorId" id="floorId">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="flatId">Số căn hộ</label>
              <select class="form-control" name="flatId" id="flatId">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <hr />
          <h6 style="text-align: center;">Chủ sở hữu</h6>
          <div class="form-group">
            <select class="form-control number" name="owner" id="owner">
              <option value="none">Trống</option>
              <% resident.forEach(res => { %>
              <option value="<%= res._id%>"><%= res.full_name%></option>
              <% }) %>
            </select>
          </div>
          <!--Add input field-->
          <hr />
          <h6 style="text-align: center;">Số nhân khẩu</h6>
          <div class="form-group">
            <div class="input-group control-group after-add-more">
              <select class="form-control number" name="number" id="number">
                <option value="none">Trống</option>
                <% resident.forEach(res => { %>
                <option value="<%= res._id%>"><%= res.full_name%></option>
                <% }) %>
              </select>
              <div class="input-group-btn">
                <button class="btn btn-success add-more" type="button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <button class="btn btn-primary btn-block">Create</button>
        </form>
      </div>
      <!-- Copy Fields -->
      <div class="copy" style="display: none;">
        <div class="control-group input-group" style="margin-top: 10px;">
          <select class="form-control number" name="number" id="number">
            <option value="none">Trống</option>
            <% resident.forEach(res => { %>
            <option value="<%= res._id%>"><%= res.full_name%></option>
            <% }) %>
          </select>
          <div class="input-group-btn">
            <button class="btn btn-danger remove" type="button">
              Remove
            </button>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</div>
<hr />
<%-include("./listsData/listFlat.ejs") %>
