<main>
  <%-include("../register.ejs") %>
  <div class="container-fluid">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>List Admins
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>STT</th>
                <th>Email</th>
                <th>Username</th>
                <th>Activation</th>
                <th>Phone Number</th>
                <th>Day create</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% var i = 1 %> <% admin.forEach(ad =>{ %>
              <tr>
                <td><%= i++%></td>
                <td><%=ad.email%></td>
                <td><%=ad.username%></td>
                <td><%=ad.email_verify %></td>
                <% if(ad.phoneNumber == null) {%>
                <td>none</td>
                <% }else {%>
                <td><%=ad.phoneNumber%></td>
                <% } %> <% var date = parseInt(ad.date); var time = new
                Date(date) %>
                <td>
                  <%= time.toLocaleTimeString()+ " " + time.toDateString() %>
                </td>
                <td style="text-align: center;">
                  <a href=""><i class="fas fa-cog"></i></a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
